# Dataset (Too large to commit)
DATA/

# Ignore .idea configuration files
.idea/

# Antigravity Configuration. Ignore default folder but not certain files declared here.
.antigravity/   
!.antigravity/rules.md
!.antigravity/README.md

# Python caches
**/__pycache__/
*.py[cod]
*$py.class

# Checkpoint
TRAIN/Training_Output/last_checkpoint.pth

# Other models
IMAGE_PREPROCESS/models/
!IMAGE_PREPROCESS/models/README.md

# Specific samples
IMAGE_PREPROCESS/samples/11.jpeg
