# Dataset (Too large to commit)
data/

# Ignore .idea configuration files
.idea/

# Antigravity Configuration. Ignore default folder but not certain files declared here.
.antigravity/   
!.antigravity/rules.md
!.antigravity/README.md

# Python caches
**/__pycache__/
*.py[cod]
*$py.class

# Checkpoint
training/training_output/last_checkpoint.pth

# Other models
image_preprocess/models/*
!image_preprocess/models/README.md
text_detection/models/
!text_detection/models/README.md

# Some trainig output
image_preprocess/output/**/*.pth

# Specific samples
image_preprocess/samples/11.jpeg
